@model Starwars.Jedis.Entities.Group

@{
    ViewData["Title"] = Model.ItemLocalizable.Value;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h1>@Model.ItemLocalizable.Value (@Model.ItemLocalizable.Language)</h1>

<div>
    <h4>@Model.Jedi.Name</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => Model.Jedi.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => Model.Jedi.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => Model.Jedi.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => Model.Jedi.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => Model.Jedi.Endpoint)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => Model.Jedi.Endpoint)
        </dd>
    </dl>
</div>

